
.nav-section{
    position: relative;
}

/* home */
    #nHome{
        min-height: 110vh;
        /* padding: 0 32px 0 72px; */
    }

/* navigation */
    #navigation{
		height: 100vh;
        z-index: 1;
    }
    .nav{
        list-style: none;
        margin: 0;
        padding: 64px 8px 0;
        width: 72px;
        min-height: 440px;
        line-height: 56px;
    }
    
    .nav:before{
        content: "";
        height: 100%;
        width: 1px;
        background: #202020;
        position: absolute;
        top: 56px;
        left: 36px;
        transition: 0.5s;
        transform: scale(1.0001, 0);
        transform-origin: 100% 100%;
    }

    #nHome[data-active="true"] .nav:before{
        transform: scale(1.0001, 1.0001);
    }
    
    .nav li{
        width: 100%;
    }

    .nav a {
        position: relative;
        text-align: center;
        transform: rotate(-90deg);
    }
    .nav span {
        display: block;
        min-width: 56px;
        white-space: nowrap;
        transition: 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s 0.3s;
    }

    a[href="#nHome"] span{
        letter-spacing: -11px;
    }

    a[href="#nAbout"] span{
        letter-spacing: -8px;
    }

    a[href="#nPortfolio"] span{
        letter-spacing: -7px;
    }

    a[href="#nContact"] span{
        letter-spacing: -9px;
    }
    
    a.active span{
        margin: 50% 0;
        padding: 0 12px 0 20px;
        max-width: 220px;
        letter-spacing: 12px;
    }

    .nav span:before,
    .nav span:after{
        content: "";
        height: 3px;
        width: 3px;
        border-radius: 4px;
        position: absolute;
        margin-top: 27px;
        background: #202020;
        transition: 0.3s;
        opacity: 0;
    }

    a.active span:before{
        opacity: 1;
        left: 0;
    }
    a.active span:after{
        opacity: 1;
        right: 0;
    }

/* logo */
    .logo{
        height: 64px;
        width: 96px;
        padding: 0 4px;
        z-index: 2;
        left: 24px;
		border-radius: 64px;
    }

    .logo svg{
        width: 88px;
    }

    .logo g:nth-child(2){
        transform: translateX(-23px);
        transition: 0.45s;
    }

    .logo:hover g:nth-child(2),
    .logo:focus g:nth-child(2){
        transform: translateX(0);
    }

/* home content */
    .page-content{
        min-height: 100%;
        padding: 0 96px;
		margin: 0 auto;
		max-width: 1280px;
    }
	
	.pc2{
		padding-top: 24px;
	}

    /* nelson */
        .nelson{
            width: 100%;
            max-width: 424px;
            padding: 0 48px 0 16px;
            display: inline-block;
        }

        .nelson svg{
            filter: drop-shadow(30px 30px 10px rgba(0,0,0,.15));
        }

    /* intro */
        .intro{
            width: 590px;
            max-width: 100%;
            padding: 0 0 0 48px;
            place-content: center;
			text-shadow: 15px 15px 15px rgba(0,0,0,.2);
        }

        .intro h1{
            margin: 8px 0;
        }
        .intro .text-headline{
            letter-spacing: 0.1em;
        }
        .intro h2{
            letter-spacing: .325em;
        }
    
    @media screen and (max-width:839px){
        .page-content{
            padding: 0 24px 0 72px;
			float: left;
        }
		
		.pc2 .text-headline3{
			font: 400 2.125rem/2.5rem 'Raleway',sans-serif;
            letter-spacing: 0.015625rem;
			text-align: center;
			padding-top: 12px;
		}

        .nelson{
            max-width: 360px;
            padding: 0 24px 0 0;
        }

        .intro{
            width: 540px;
            padding: 0 0 0 24px;
        }
    }

    @media screen and (max-width:699px){
        .page-content{
            flex-direction: column;
			position:relative;
			word-wrap: break-word;
        }
		
		.logo{
			width: 64px;
		}

        .nelson{
            min-height: 80vh;
            max-width: 100%;
			margin-bottom: 20vh;
            padding: 0;
            display: flex;
            align-items: center;
            place-content: center;
        }
		
		.pc2 .text-headline3{
			text-align: right;
		}

        .nelson div{
            width: 100%;
            max-width: 320px;
        }

        .intro{
            width: 100%;
            padding: 0;
			text-align: right;
        }
		
		.xs-row{
			width: 100%;
			display: inline-block;
		}
		
		.intro .text-headline2 {
			font: 400 3rem/3.125rem 'Raleway',sans-serif;
			letter-spacing: normal;
		}
		
		.intro .text-headline3 {
			font: 400 2.125rem/2.5rem 'Raleway',sans-serif;
			letter-spacing: 0.015625rem;
		}
		
		#nContact * {
			text-align: right;
		}
    }
	
	@media screen and (max-width: 460px){
		.intro h2 {
			letter-spacing: .125em;
		}
	}

/* social media link */
    .smLink{
        height: 56px;
        right: 16px;
        z-index: 1;
        transition: 0.45s;
    }

    .smLink a{
        height: 56px;
        max-width: 56px;
        float: left;
        transition: 0.45s;
    }

    .smLink a:nth-child(1):hover{
        color: #de5447;   
    }

    .smLink a:nth-child(2):hover{
        color: #5a4eca;   
    }

    .smLink a:nth-child(3):hover{
        color: #171515;   
    }

    .smLink i{
        font-size: 20px;
        padding: 10px;
        float: left;
    }

    @media screen and (max-width:839px){

    }

/* orientation msg */
    .orientation-msg{
        display: none;
        background: #fff;
        z-index: 9999;
    }

    @media screen and (max-width:839px) and (orientation: landscape){
        .orientation-msg{
            display: block;
        }
    }


/* main */
    /* home */
        /*
		#nHome:not([data-active="true"]) .intro{
			text-shadow: none;
		}
		
		.ta_h01{
			transition: letter-spacing 0.2s 0.3s;
		}
		
		#nHome:not(.visible) .ta_h01,
		#nHome:not([data-active="true"]) .ta_h01{
			letter-spacing:-14px;
		}
		
		.ta_h02{
			transition: letter-spacing 0.3s 0.45s;
		}
		
		#nHome:not(.visible) .ta_h02,
		#nHome:not([data-active="true"]) .ta_h02{
			letter-spacing:-11px;
		}
		
		.ta_h03{
			transition: letter-spacing 0.7s 0.45s;
		}
		
		#nHome:not(.visible) .ta_h03,
		#nHome:not([data-active="true"]) .ta_h03{
			letter-spacing:-24px;
		}
		
		.ta_h04{
			transition: letter-spacing 0.7s 0.6s;
		}
		
		#nHome:not(.visible) .ta_h04,
		#nHome:not([data-active="true"]) .ta_h04{
			letter-spacing:-8px;
		}
		
		.ta_h05{
			transition: letter-spacing 0.7s 0.6s;
		}
		
		#nHome:not(.visible) .ta_h05,
		#nHome:not([data-active="true"]) .ta_h05{
			letter-spacing:-8px;
		}
		
		@media screen and (max-width: 699px){
			#nHome:not(.visible) .ta_h03,
			#nHome:not([data-active="true"]) .ta_h03 {
				letter-spacing: -17px;
			}
        }
        */
	
	/* about me */
		
	
	
	/* portfolio */
	
	
	
	
	
    /* contact */
        /*
		.ta_c01{
			transition: letter-spacing 0.45s 0.3s;
		}
		
		#nContact:not(.visible) .ta_c01{
			letter-spacing:-16px;
		}
		
		.ta_c02{
			transition: letter-spacing 0.45s 0.45s;
		}
		
		#nContact:not(.visible) .ta_c02{
			letter-spacing:-6px;
		}
		
		.ta_c03{
			transition: letter-spacing 0.45s 0.6s;
		}
		
		#nContact:not(.visible) .ta_c03{
			letter-spacing:-7px;
		}
		
		.ta_c04{
			transition: letter-spacing 0.45s 0.75s;
		}
		
		#nContact:not(.visible) .ta_c04{
			letter-spacing:-7px;
		}
		
		.ta_c05{
			transition: letter-spacing 0.45s 0.9s;
		}
		
		#nContact:not(.visible) .ta_c05{
			letter-spacing:-7px;
		}
		
		.ta_c06{
			transition: letter-spacing 0.45s 1.05s;
		}
		
		#nContact:not(.visible) .ta_c06{
			letter-spacing:-7px;
		}
		
		.ta_c07{
			transition: letter-spacing 0.45s 1.20s;
		}
		
		#nContact:not(.visible) .ta_c07{
			letter-spacing:-8px;
		}
		
		.ta_c08{
			transition: letter-spacing 0.45s 1.35s;
		}
		
		#nContact:not(.visible) .ta_c08{
			letter-spacing:-6px;
		}
		
		.ta_c09{
			transition: opacity 0.45s 1.50s;
		}
		
		#nContact:not(.visible) .ta_c09{
			opacity: 0;
        }
        
        @media screen and (min-width: 840px){
            #nContact:not(.visible) .ta_c01 {
                letter-spacing: -23px;
            }
        }
        */